
    .minor-section{
      border: solid 1px #888;  
      background-color: #DDD8C4;
    } 
  
  element.style {
    background-color: #a75757;
  }

  .special {
    background-color: #888;
    border: #000000
  }